{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SculptingVis Applets Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'w3.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'svis.css' %}">
    </head>

    <body>
        <div class="w3-container">
            <h1>SculptingVis Applets Home</h1>
            <a href="applets/" class="w3-btn w3-border w3-padding-large w3-margin">Open Applets</a>
            <a href="library/" class="w3-btn w3-border w3-padding-large w3-margin">Open Library</a>
        </div>
    </body>
</html>
