{% load static %}
<!DOCTYPE html>
<html lang="en">

  <title>SculptingVis Applets</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link rel="stylesheet" href="{% static 'w3.css' %}">

  <style>
    h1 {margin: 16px;}
  </style>

  <div class="w3-bar w3-dark-grey w3-card w3-left-align w3-large">
    <a id="color-loom-selector-2" class="w3-bar-item w3-button w3-padding-large w3-hover-white" href="applets/load_applet/color-loom">color loom</a>
    <a id="glyph-aligner-selector" class="w3-bar-item w3-button w3-padding-large w3-hover-white" href="applets/load_applet/glyph-aligner">glyph aligner</a>
    <a id="infinite-line-selector" class="w3-bar-item w3-button w3-padding-large w3-hover-white" href="applets/load_applet/infinite-line">infinite line</a>
    <a id="texture-mapper-selector" class="w3-bar-item w3-button w3-padding-large w3-hover-white" href="applets/load_applet/texture-mapper">texture mapper</a>
    <!-- <a id="scale-builder-selector" class="w3-bar-item w3-button w3-padding-large w3-hover-white" href="load_applet/scale-builder">scale builder</a> -->
  </div>

  <h1>Choose one of the applets in the menu above</h1>

</html>
