{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'texture-mapper/style.css' %}">
    <meta charset="utf-8">
    <title>Texture Mapper</title>

    <base href="/">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'texture-mapper/jquery-ui-1.12.1.custom/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'texture-mapper/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
    <script src="{% static 'texture-mapper/index.js' %}" type="module"></script>
    
    <script src="{% static 'p5.min.js' %}"></script>
    <script src="{% static 'p5.dom.min.js' %}"></script>
    
    <script>
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
  </head>

  <body>
    <div class="w3-bar w3-dark-grey w3-card w3-left-align w3-large">
      <a id="color-loom-selector-2" class="w3-bar-item w3-button w3-padding-large w3-hover-white" href="applets/load_applet/color-loom">color loom</a>
      <a id="glyph-aligner-selector" class="w3-bar-item w3-button w3-padding-large w3-hover-white" href="applets/load_applet/glyph-aligner">glyph aligner</a>
      <a id="infinite-line-selector" class="w3-bar-item w3-button w3-padding-large w3-hover-white" href="applets/load_applet/infinite-line">infinite line</a>
      <a id="texture-mapper-selector" class="w3-bar-item w3-button w3-padding-large w3-white w3-hover-white" href="applets/load_applet/texture-mapper">texture mapper</a>
    </div>

    <div id="crop-container">
      <img id="image-to-crop" src="#" alt="Waiting for you to upload a texture...">
      <div id="crop-area"></div>
      
      <div id="drag-n-drop">
        <p>Drag and drop an image here...</p>
      </div>
    </div>

    <!-- <div class="texture-chooser">
      <ul id="texture-list">
        <li>
          <label for="file-upload">Upload:
            <input type="file" id="file-upload" accept="image/*">
          </label>
          ... or drag and drop
      </ul>
    </div> -->

    <div class="ui">
      <ol>
        <!-- <li><label for="project-name">Name your project
            <input id="project-name" type="text" value="TEXTURE">
          </label>
          <button id="new-project">New Project</button>
        </li> -->
        <li>
          <p>Drag and drop some image textures, or</p>
          <button id="webcamButton">Take A Photo With Your Webcam</button>
          <li>
            <p>Crop the image using the interactive tool on the left</p>
            <label for="show-repeat-preview">
              <input id="show-repeat-preview" type="checkbox">
              Show repeat
            </label>
          </li>
          <li>
            <p>Save your results</p>
            <form id="upload_form" action='hello' onsubmit="alert('hello')">
              <table>
                {{ uploadForm }}
              </table>
            </form>
            <button id="export">Export</button>
          </li>
        </li>
      </ol>

      <div>
        <p>Normal Map Preview:</p>
        <img id="normal-map-preview" src="#">
      </div>
    </div>

    <div id="webcamWindow">
      <div id="webcamWindowHeader" style="position: absolute; z-index: 1; width: 100%; height: 50px; cursor: move;"></div>
    </div>

    <script src="{% static 'texture-mapper/webcamWindow.js' %}" type="module"></script> 
  </body>
</html>
